@using Client.Models
@using Client.Models.DTO
@using Newtonsoft.Json
@{
    var info = JsonConvert.DeserializeObject<AccountCustomer>(Request.Cookies["Account"]?.Value);
}
<nav class="col-md-2 d-none d-md-block bg-light border-nav" style="height: 572px">
    <div class="text-center">
        <img src="@info.img.path_" class=" img-fluid" alt="..." style="padding: 30px 0px 0px 10px;">
        <h4 >@info.customer.headName</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item ">
            <a class="nav-link text-center @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "text-primary" : "")" href="@Url.Action("Index","Admin")"><i class="fa fa-users fa-fw"></i> Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center @(ViewContext.RouteData.Values["Action"].ToString() == "SettingView" ? "text-primary" : "")" href="@Url.Action("SettingView","Admin")"><i class="fa fa-cog fa-fw"></i> Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center @(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "text-primary" : "")" href="@Url.Action("Account","Admin")"><i class="fa fa-users fa-fw"></i> Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center @(ViewContext.RouteData.Values["Action"].ToString() == "Service" ? "text-primary" : "")" href="@Url.Action("Service","Admin")"><i class="fa fa-briefcase fa-fw"></i> Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" href="@Url.Action("LogOut","Home")"><i class="fa fa-power-off"></i> Log out</a>
        </li>
    </ul>
</nav>